:root{
    --mail-colour:rgb(238, 163, 230)
}
.menu {
    font-size: 1rem;
    background-color: var(--mail-colour);
    margin: 15px;
    padding: 10px;
    }

    .menu ul li {
        background-color: var(--mail-colour);
        display: inline;
        font-style: normal;
        font-weight: bold;
        text-align: center;
    }

    .main-title {
        text-align: center;
        font-size: 35px;
    }

#myself {
    width: 20%;
    height: 20%;
    margin: 20px;
    padding: 10px;
    max-width: 30%;
}

#description {
    text-align: left;
    font-size: 2rem;
    background-color: #fff;
    margin: 15px;
    padding: 10px;
}









a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    }
    
a:hover {
background-color: #ddd;
color: black;
}

.previous {
background-color: #570505;
color: black;
size: 2rem;
}

.next {
background-color: #0c0e86;
color: white;
}

.round {
border-radius: 50%;
}